#left-header {
  background-color: #33383f;
  display: block;
  float: left;
  width: 285px;
  height: 100vh;
  text-align: center;
  align-items: center;
  color: #555e69;
  float: left;
  position: absolute;
  margin-top: -22px;
  padding-top: 0px;
}

#avatar img {
  padding-top: 35px;
  width: 70%;
  background-repeat: no-repeat;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
}

h2 {
  color: white;
}
