#item {
    padding: 10px;
  }
  
  .div-line {
    background-color: #555e69;
    height: 1px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #10bcf9;
  }